PUID=568
PGID=568
UMASK=002
TZ=Asia/Dubai

DOWNLOADS=/mnt/media/downloads
MOVIES=/mnt/media/movies
TV=/mnt/media/tv
MUSIC=/mnt/media/music
MOVIES_KIDS=/mnt/media/movies-kids
TV_KIDS=/mnt/media/tv-kids
